{% extends 'blog/base.html' %}

{% block title %} Compartilhe o email {% endblock  %}

{% block content %}
    {% if sent %}
        <h1> E-mail enviado com sucesso! </h1>
        <p>
            "{{post.title}}" foi bem enviado para {{form.cleaned_data.to}}
        </p>
    {% else %}
        <h1> Compartilhe o "{{post.title}}" por e-mail </h1>
        <form method="post">
            {{form.as_p}}
            {% csrf_token %}
            <input type="submit" value="send e-mail">
        </form>
    {% endif %}
{% endblock  %}